- if errors
  .alert.alert-danger
    %p= "#{pluralize(errors.count, "error")} prohibited this employee from being saved:"
    %ul
      - errors.each do |msg|
        %li= msg
.col-lg-9
  .well.bs-component
    = form_for(employee, html: { class: 'form-horizontal' }) do |f|
      %fieldset
        .form-group.col-lg-12
          = f.label :first_name, class: 'control-label'
          = f.text_field :first_name, autofocus: true, class: 'form-control', required: true
        .form-group.col-lg-12
          = f.label :last_name, class: 'control-label'
          = f.text_field :last_name, class: 'form-control', required: true
        = f.fields_for :tenures do |tenure_f|
          = tenure_f.hidden_field :id
          .form-group.col-lg-12
            -if employee.tenures.count > 1
              = tenure_f.label :start_date, "#{(tenure_f.index + 1).ordinalize} start date", class: 'control-label'
            -else
              = tenure_f.label :start_date, class: 'control-label'
            = tenure_f.date_field :start_date, class: 'form-control', required: true
          .form-group.col-lg-12
            -if employee.tenures.count > 1
              = tenure_f.label :end_date, "#{(tenure_f.index + 1).ordinalize} end date", class: 'control-label'
            -else
              = tenure_f.label :end_date, class: 'control-label'
            = tenure_f.date_field :end_date, class: 'form-control'
        -if employee.new_record? || employee.tenures.last.end_date
          = f.fields_for :tenures, employee.tenures.build do |tenure_f|
            .form-group.col-lg-12
              -if employee.new_record?
                = tenure_f.label :start_date, class: 'control-label'
                = tenure_f.date_field :start_date, class: 'form-control', required: true
              -else
                = tenure_f.label :start_date, 'New start date', class: 'control-label'
                = tenure_f.date_field :start_date, class: 'form-control'
            .form-group.col-lg-12
              -if employee.new_record?
                = tenure_f.label :end_date, class: 'control-label'
              -else
                = tenure_f.label :end_date, 'New end date', class: 'control-label'
              = tenure_f.date_field :end_date, class: 'form-control'
        .form-group.col-lg-12
          = f.label :direct_experience, 'Direct experience (months)', class: 'control-label'
          = f.number_field :direct_experience, class: 'form-control'
        .form-group.col-lg-12
          = f.label :indirect_experience, 'Indirect experience (months)', class: 'control-label'
          = f.number_field :indirect_experience, class: 'form-control'
        .form-group.col-lg-12
          = f.label :notes, 'Notes', class: 'control-label'
          = f.text_area :notes, class: 'form-control'
        .form-group.col-lg-12
          = f.check_box :billable
          = f.label :billable, class: 'control-label'
        .form-group.col-lg-12
          = f.submit 'Save', class: 'btn btn-primary'
          = link_to 'Cancel', :back, class: 'btn btn-default'
