%h2= "#{@employee.first_name} #{@employee.last_name}"
%h4= "#{@employee.employed_on?(Date.today) ? 'Current' : 'Inactive'} Employee"
%p= link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-success'

%ul.nav.nav-pills.nav-stacked
  %li.active
    = link_to 'Experience', "#"
    %table.table.table-striped.table-hover
      %tr
        %td Billable?
        %td= @employee.billable ? "Yes" : "No"

      %tr
        %td Start Date
        %td= @employee.start_date.strftime('%b %e, %Y')
      %tr
        %td End Date
        %td= @employee.end_date ? @employee.end_date.strftime('%b %e, %Y') : '--'
      %tr
        %td Time at Bendyworks
        %td= @employee.experience_here_formatted
      %tr
        %td Prior Experience
        %td
          %li= "#{@employee.direct_experience} months direct"
          %li= "#{@employee.indirect_experience} months indirect"
  %li.active
    = link_to 'Salary History', "#"
    %table.table.table-striped.table-hover
      %thead
        %tr
          %td Date
          %td Salary
      %tbody
        %tr
          %td= @employee.start_date.strftime('%b %e, %Y')
          %td= number_to_currency(@employee.starting_salary, precision: 0)
        - @employee.salaries.each do |salary|
          %tr
            %td= salary.start_date.strftime('%b %e, %Y')
            %td= number_to_currency(salary.annual_amount, precision: 0)
