%tr{id: "employee_#{employee.id}"}
  %td#first_name
    = employee.first_name
  %td#last_name
    = employee.last_name
  %td#previous_pay
    = employee.display_previous_pay
  %td#last_raise_date
    = employee.last_raise_date.strftime('%m/%d/%y')
  %td#display_pay
    = employee.display_pay
  %td#planning_raise_date
    -# = employee.planning_raise_date.try(:strftime, '%m/%d/%y')
    = best_in_place employee, :planning_raise_date, display_as: :bip_planning_raise_date, place_holder: '--', html_attrs: { type: 'date' }
  %td#planning_raise_salary
    = best_in_place employee, :planning_raise_salary, place_holder: '--'
  %td#planning_notes
    = best_in_place employee, :planning_notes, as: :textarea, place_holder: '--'
