%h2 Users Index
%p= link_to 'Invite new user', new_user_invitation_path, class: 'btn btn-success'
.container.user-list
  %table.table.table-striped.table-hover
    %tbody
      %tr
        %th Email
        %th Status
        %th Actions
      - @users.each do |user|
        %tr{ id: "user_#{user.id}" }
          %td= user.email
          - if user.pending?
            %td= 'Pending'
            %td
              = link_to 'Resend', resend_invitation_path(user.id), class: 'btn btn-success btn-xs', method: 'post'
              = link_to 'Delete', user_path(user), class: 'btn btn-danger btn-xs', method: 'delete'
          - else
            %td= 'Joined'
            %td= link_to 'Delete', user_path(user), class: 'btn btn-danger btn-xs', method: 'delete'
