.col-lg-9
  .well.bs-component
    = form_tag({}, {method: :get}) do
      %fieldset
        .form-group
          %span.checkbox-inline
            = label_tag do
              = check_box_tag 'employment[current]', 1, current_employment_checked
              Current
          %span.checkbox-inline
            = label_tag do
              = check_box_tag 'employment[past]', 1, params[:employment].try(:[], :past)
              Past
          %span.checkbox-inline
            = label_tag do
              = check_box_tag 'employment[future]', 1, params[:employment].try(:[], :future)
              Future
        .form-group
          %span.checkbox-inline
            = label_tag do
              = check_box_tag 'billable[true]', 1, params[:billable].try(:[], :true)
              Billable
          %span.checkbox-inline
            = label_tag do
              = check_box_tag 'billable[false]', 1, params[:billable].try(:[], :false)
              Support
        .form-group
          = submit_tag 'Apply', class: 'btn btn-primary'
