= javascript_include_tag 'home'
%h1 Home

#row
  .col-md-6.text-center
    %h2= link_to 'Salaries', salaries_path
    = react_component("SalaryGraph", { data: @salary_data_table }, {prerender: false, id: 'salaries_chart'})
  .col-md-6.text-center
    %h2= link_to 'Experience', experience_path
    = react_component("ExperienceGraph", { data: @experience_data_table }, {prerender: false, id: 'experience_chart'})
