= javascript_include_tag 'home'
%h1 Home

#row
  .col-md-6.text-center
    %h2= link_to 'Salaries', salaries_path
    = react_component("SalaryGraph", { data: @salary_data_table })
  .col-md-6.text-center
    %h2= link_to 'Experience', experience_path
    = react_component("ExperienceGraph", { data: @employees.to_json(methods: [:weighted_years_experience, :current_or_last_pay]) })
