%h2= "Record a Raise for #{@salary.employee_first_name} #{@salary.employee_last_name}"
- if @salary.errors.any?
  .alert.alert-danger
    %p= "#{pluralize(@salary.errors.count, "error")} prohibited this raise from being saved:"
    %ul
      - @salary.errors.full_messages.each do |msg|
        %li= msg
.col-lg-9
  .well.bs-component
    = form_for(@salary, url: employee_salaries_path(@salary.employee), html: { class: 'form-horizontal' }) do |f|
      %fieldset
        .form-group.col-lg-12
          = f.label :start_date, class: 'control-label'
          = f.date_field :start_date, class: 'form-control', required: true, autofocus: true
        .form-group.col-lg-12
          = f.label :annual_amount, class: 'control-label'
          .input-group
            %span.input-group-addon $
            = f.number_field :annual_amount, class: 'form-control', required: true, value: @salary.employee.salary_on(Time.zone.today)
        .form-group.col-lg-12
          = f.submit 'Save', class: 'btn btn-primary'
          = link_to 'Cancel', employee_path(@salary.employee), class: 'btn btn-default'
