%h2= t "devise.invitations.new.header"
= devise_error_messages!
.col-lg-6
  .well.bs-component
    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
      %fieldset
        - resource.class.invite_key_fields.each do |field|
          .form-group
            = f.label field, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_field field, autofocus: true, class: 'form-control'
        .form-group
          .col-lg-10.col-lg-offset-2
            = f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-primary'
= link_to "Back", :back
