!!!
%html
  %head
    %title Payroll
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .page-header
        .navbar.navbar-fixed-top.navbar-default
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            .navbar-collapse.collapse.navbar-responsive-collapse
              - if user_signed_in?
                %ul.nav.navbar-nav
                  %li= link_to 'Balances', balances_path
                  %li= link_to 'Salaries', salaries_path
                  %li= link_to 'Experience', experience_path
                %ul.nav.navbar-nav.navbar-right
                  %li.dropdown
                    = render "layouts/employees_dropdown"
                  %li.dropdown
                    = render "layouts/accounts_dropdown"
                  %li= link_to 'Users', users_path
                  %li.dropdown
                    %a.dropdown-toggle#charts{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                      = current_user.email
                      %b.caret
                    %ul.dropdown-menu{"aria-labelledby" => "accounts"}
                      %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
                      %li= link_to 'Change Password', edit_user_registration_path

      .body
        -if notice
          %p.notice.alert.alert-info= notice
        -if alert
          %p.alert.alert-danger= alert
        = yield
