!!!
%html
  %head
    %title Payroll
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .page-header
        .navbar.navbar-fixed-top.navbar-default
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            .navbar-collapse.collapse.navbar-responsive-collapse
              - if user_signed_in?
                %ul.nav.navbar-nav
                  %li.dropdown
                    %a.dropdown-toggle#charts{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                      Charts
                      %b.caret
                    %ul.dropdown-menu{"aria-labelledby" => "charts"}
                      %li= link_to 'Salary History', root_path
                      %li= link_to 'Experience', experience_path
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                      Employees
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to 'Add employee', new_employee_path
                      %li.divider
                      %li.dropdown-header Current Employees
                      - Employee.current.each do |e|
                        %li= link_to e.first_name, employee_path(e)
                      %li.divider
                      %li.dropdown-header Inactive Employees
                      - Employee.non_current.each do |e|
                        %li= link_to e.first_name, employee_path(e)
                %ul.nav.navbar-nav.navbar-right
                  %li= link_to 'Users', users_path
                  %li.dropdown
                    %a.dropdown-toggle#charts{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                      = current_user.email
                      %b.caret
                    %ul.dropdown-menu{"aria-labelledby" => "accounts"}
                      %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
                      %li= link_to 'Change Password', edit_user_registration_path

      .body
        -if notice
          %p.notice.alert.alert-info= notice
        -if alert
          %p.alert.alert-danger= alert
        = yield
